
{
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "rules": {
        "strict": 0,
        "semi": [ 1, "never" ],
        "quotes": [ 2, "single" ],
        "no-underscore-dangle": 0,
        "curly": 1,
        "no-multi-spaces": 1,
        "no-shadow": 1,
        "default-case": 2,
        "indent": [ 2, 4 ],
        "camelcase": 2,
        "comma-spacing": [ 2, {
            "before": false,
            "after": true
        }],
        "key-spacing": [ 2, {
            "beforeColon": false,
            "afterColon": true
        }],
        "no-nested-ternary": 2
    },
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "globals": {
        "fetch": true,
        "performance": true
    }
}
